# Ignore development-related files
venv
.git
.gitignore
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
*.sqlite3
.env
node_modules

# Ignore media folder
media

# Ignore temporary files
*.tmp

# Ignore Docker-specific files
Dockerfile
.dockerignore