# Ignore development-related files
fitnessenv
.git
.gitignore
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
*.sqlite3

# Ignore media folder
media

# Ignore temporary files
*.tmp

# Ignore Docker-specific files

.dockerignore