version: "3.7"

services:
  website:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: website
    restart: always
    env_file:
      - .env
    networks:
      - website
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: db
    networks:
      - website

  nginx:
    image: nginx
    volumes:
      - ./templates:/etc/nginx/templates
    ports:
      - "80:80"
    environment:
      NGINX_HOST: 34.65.44.220
    networks:
      - website
    depends_on:
      - website
    restart: always

volumes:
  postgres:
    name: website-db

networks:
  website: