version: "3.7"

services:
  website:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: website
    restart: always
    env_file:
      - .env
    networks:
      - website
    depends_on:
      - postgres
    ports:
      - "8000:8000"

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fitness_d
    networks:
      - website

volumes:
  postgres:
    name: website-db

networks:
  website: