<head>
    <style>
        body {
            background-image: url('/static/fitness.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden; }
        div{ 
            background-color:white;
            
          }
        form, h2{
            display: flex;
            justify-content: center;
            align-items: center;
            }
    </style>
    
</head>
<body>
<div>
    {% if validlink %}
        <h2>Introdu (si confirma) noua parola.</h2>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Parola noua:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirma parola:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Schimba parola"
                        style="background-color: black;
                        color: white; font-size: 18px;"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Resetare esuata</h1>
        <p>Link-ul de resetare a fost invalid, posibil din cauza faptului ca a fost deja utilizat. 
            Te rugam sa ceri un nou link de resetare al parolei.</p>
    {% endif %}
</div>
</body>