{% extends "base_generic.html" %}
{% block content %}
<div class="main showcase" >
    <img src="{{ workout.image.url }}" alt="image" class="bg-image" />
   <div class="bg-img-text">
  <h1>{{ workout.name }}</h1>

  <h3>{{ workout.disability.name }}</h3>
  {% if workout.goal %}
            <h3>Obiectivul antrenamentului: {{ workout.goal }}</h3>
   {% else %}
   <h3>Obiectivul antrenamentului: general</h3>
  {% endif %}
  <h3>Descrierea antrenamentului: {{ workout.description }}</h3>
  {%  if workout.equipment == 'Nu, antrenament acasa' %}
      <h3>Antrenament pentru acasa, nu este nevoie de echipament.</h3>
      {% else %}
      <h3>Antrenamentul se poate realiza doar la sala.</h3>
  {% endif %}
   {% for workout_day in workout_days.all %}
       <a href="{% url 'workout_exercises' workout_day.id workout.id %}"><h3>Ziua: {{ workout_day.day }}</h3></a>

   {% empty %}
    <p>No workout days found.</p>
{% endfor %}




</div>
</div>
{% endblock %}