{% extends 'base_generic.html' %}
{% block content %}
<style>
    textarea, #id_email {
        min-height: 50px;
        
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        padding: 10px 0;
        box-sizing: border-box;
        height: 30px;
    }
    textarea:focus {
        
        outline: none;
    }
</style>
<div class="main showcase">
    <h2>Contacteaza-ne</h2>
    <form method="post">
        {% csrf_token %}
        
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
        <label for="{{ form.text.id_for_label }}">Mesaj:</label>
        {{ form.text }}
        <button type="submit">Trimite mesajul</button>
    </form>
</div>
<script>
    
    const textField = document.querySelector('#{{ form.text.id_for_label }}');
    textField.addEventListener('input', function() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
      });
    textField.setAttribute('rows', '1');
  
      
</script>

{%endblock%}