{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<style>
  input[type="file"] {
      display: none;
  }
  .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
  }
  #birth_date {
    align-items: center;
  }
  .ui-datepicker-trigger {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: 40px;
  }
  #id_current_weight{
    min-height: 50px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    padding: 10px 0;
    box-sizing: border-box;
    height: 30px;
  }

</style>
<div class="main showcase">
  <h1>Editeaza Profilul</h1>
  <form id="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="birth_date" class="form-group">
      <label for="{{ form.date_of_birth.id_for_label }}">Data Nasterii:</label>
      {{ form.date_of_birth }}
    </div>
  </br>
    <div class="form-group">
      <label for="{{ form.current_weight.id_for_label }}">Greutate(kg):</label>
      {{ form.current_weight }}
    </div>
  </br>
    <div class="form-group">
      <label for="{{ form.profile_image.id_for_label }}">Imagine de profil:</label>
      <label for="{{ form.profile_image.id_for_label }}" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Selecteaza Imaginea
      </label>
      {{ form.profile_image }}
    </div>
  </br>
    <button type="submit" class="btn btn-primary">Salveaza Datele</button>
  </form>
</div>

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  <script>
    const form = document.getElementById("{{ form.date_of_birth.id_for_label }}");
    const btnSubmit = document.querySelector(".btn");

    function test() {
      const birthDate = new Date(form.value);
      const today = new Date();
      const age = today.getFullYear() - birthDate.getFullYear();
      const month = today.getMonth() - birthDate.getMonth();

      if (month < 0 || (month === 0 && today.getDate() < birthDate.getDate())) {
        age--;
      }

      if (age >= 18) {
        btnSubmit.disabled = false;
      } else {
        btnSubmit.disabled = true;
        alert("Trebuie sa fii major!");
      }
    }

    form.addEventListener("change", test);
  </script>

  <script>
    flatpickr("#{{ form.date_of_birth.id_for_label }}", {
      dateFormat: 'Y-m-d',
      altInput: true,
      altFormat: 'd-m-Y',
      maxDate: new Date().fp_incr(-18),
      locale: {
        firstDayOfWeek: 1,
        months: {
          shorthand: ['Ian', 'Feb', 'Mar', 'Apr', 'Mai', 'Iun', 'Iul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          longhand: ['Ianuarie', 'Februarie', 'Martie', 'Aprilie', 'Mai', 'Iunie', 'Iulie', 'August', 'Septembrie', 'Octombrie', 'Noiembrie', 'Decembrie']
        }
      }
    });
  </script>
  {% endblock %}
{% endblock %}